*{
    margin: 0;
    padding: 0;
}




.cabecalho{
        background-color: blue;
        color: black;
    display: flex;
    justify-content: space-aroud;
    align-items: center;
    padding: 30px 0;
 }
 .cabecalho-item{
      display: inline-block;
      padding: 0 25px;
}  
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: -o-linear-gradient(#284E51, #C0CADC);
    color: #C0CADC;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 55px  0;
}
.escola-conteudo{
    width: 30%;
}
.escola-titulo{
    padding: 25px 0;
}
